<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/page">
<head>
</head>
<body>

<th:block layout:fragment="content">
    <img class="overlay" id="boom" src="/boom.png" />
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1><span th:text="${gameMode.getTitle(tempo)}">gameMode</span> <small>game <th:block th:text="${id}"></th:block></small></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th class="col-md-1">rank</th>
                        <th class="col-md-3">name</th>
                        <th class="col-md-1 right">blocks</th>
                        <th class="col-md-1 right">lines</th>
                        <th nowrap="nowrap" class="col-md-1 right">2 line combos</th>
                        <th nowrap="nowrap" class="col-md-1 right">3 line combos</th>
                        <th nowrap="nowrap" class="col-md-1 right">4 line combos</th>
                        <th nowrap="nowrap" class="col-md-1 right">specials used</th>
                        <th nowrap="nowrap" class="col-md-1 right">specials received</th>
                    </tr>
                    <tr th:each="p,itrStat : ${ranking}">
                        <td th:text="${itrStat.index + 1}"></td>
                        <td>
                            <a th:href="@{/t/{tempo}/m/{mode}/players/{name}(tempo=${tempo},mode=${gameMode.id},name=${p.player.name})}" th:text="${p.player.name}"></a>
                        </td>
                        <td class="right" th:text="${p.nrOfBlocks}"></td>
                        <td class="right" th:text="${p.nrOfLines}"></td>
                        <td class="right" th:text="${p.nrOfTwoLineCombos}"></td>
                        <td class="right" th:text="${p.nrOfThreeLineCombos}"></td>
                        <td class="right" th:text="${p.nrOfFourLineCombos}"></td>
                        <td class="right" th:text="${p.totalNrOfSpecialsUsed}"></td>
                        <td class="right" th:text="${p.totalNrOfSpecialsReceived}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
                <buton id="playButton" class="btn btn-default btn-sm" onclick="javascript:play();">
                    <span class="glyphicon glyphicon-play"></span> play
                </buton>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="player">
                    <div id="field1" class="field"></div>
                    <div id="name1" class="name"></div>
                </div>
                <div class="player">
                    <div id="field2" class="field"></div>
                    <div id="name2" class="name"></div>
                </div>
                <div class="player">
                    <div id="field3" class="field"></div>
                    <div id="name3" class="name"></div>
                </div>
                <div class="player">
                    <div id="field4" class="field"></div>
                    <div id="name4" class="name"></div>
                </div>
                <div class="player">
                    <div id="field5" class="field"></div>
                    <div id="name5" class="name"></div>
                </div>
                <div class="player">
                    <div id="field6" class="field"></div>
                    <div id="name6" class="name"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="specials" id="specials" style="clear: both">
                </div>
            </div>
        </div>
    </div>

    <script src="/js/gameplayer.js"></script>

    <script th:inline="javascript">
        var player = new GamePlayer([[${data}]]);

        function play(){
            player.play();
        }
    </script>

</th:block>

</body>
</html>