<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/page">
<head>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Tenorite <span th:text="${tempo.name()}"></span> <small>game modes</small></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th class="col-md-1">name</th>
                        <th class="col-md-3">description</th>
                        <th class="col-md-1"></th>
                    </tr>
                    <tr th:each="g : ${gameModes}">
                        <td th:text="${g.getTitle(tempo)}"></td>
                        <td th:text="${g.getDescription(tempo)}"></td>
                        <td class="right">
                            <a th:href="@{/t/{tempo}/m/{mode}/games(tempo=${tempo},mode=${g.id})}">recent games</a>
                            <a th:href="@{/t/{tempo}/m/{mode}/winlist(tempo=${tempo},mode=${g.id})}">winlist</a>
                            <a th:href="@{/t/{tempo}/m/{mode}/badges(tempo=${tempo},mode=${g.id})}">badges</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>