<meta charset="UTF-8"/>
<title>tenorite</title>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'/>
<link href='/css/player.css' rel='stylesheet' type='text/css'/>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    body {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 17px;
        background-color: #fafafa;
        padding-top: 80px;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    .right {
        text-align: right;
    }

    .wrapper {
        text-align: center;
        padding-top: 75px;
        padding-bottom: 15px;
    }

    .footer {
        text-align: center;
        padding-bottom: 20px;
    }
</style>