body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    background-color: #fafafa;
    padding-top: 80px;
}

img.overlay {
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.right {
    text-align: right;
}

.wrapper {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 15px;
}

.footer {
    text-align: center;
    padding-bottom: 50px;
}

.specials {
    margin-top: 20px;
}

.specials div {
    padding: 5px 5px 5px 5px;
}

.offense {
    font-weight: bold;
    color: #ff5244;
}

.defense {
    font-weight: bold;
    color: #458030;
}

.player {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.field {
    width: 168px;
    height: 308px;
    background-color: black;
    padding: 1px;
    box-sizing: content-box;
}

.name {
    padding-top: 5px;
    text-align: center;
}

.tile {
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 1px;
    box-sizing: content-box;

    margin: 1px;
}

.tile0 {
    background-color: #2C3539;
}

.tile1 {
    background-color: #324aff;
}

.tile2 {
    background-color: #fffc5b;
}

.tile3 {
    background-color: #458030;
}

.tile4 {
    background-color: #7c4680;
}

.tile5 {
    background-color: #ff5244;
}

.tileS {
    background-color: antiquewhite;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Tahoma', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

