<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/page">
<head>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group">
                    <a th:if="${prev}" class="btn btn-default" th:href="@{/t/{tempo}/m/{mode}/badges/{type}(tempo=${tempo},mode=${gameMode.id},type=${prev.badgeType})}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span th:text="${prev.title}"></span></a>
                    <a th:if="${next}" class="btn btn-default" th:href="@{/t/{tempo}/m/{mode}/badges/{type}(tempo=${tempo},mode=${gameMode.id},type=${next.badgeType})}"><span th:text="${next.title}"></span> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h1><span th:text="${gameMode.getTitle(tempo)}">gameMode</span> <small th:text="${badge.title}">>badge</small></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                <p th:text="${badge.description}"></p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th class="col-sm-1" >player</th>
                        <th class="col-sm-3 right">level</th>
                        <th class="col-sm-1 right">date</th>
                    </tr>
                    <tr th:each="b : ${badgeLevels}">
                        <td th:text="${b.name}"></td>
                        <td class="right" th:text="${b.level}"></td>
                        <td class="right time" th:attr="data-timestamp=${b.timestamp}" th:text="${#dates.format(b.timestamp, 'dd MMM yyyy')}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>