<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/page">
<head>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1><span th:text="${gameMode.getTitle(tempo)}">gameMode</span> <small>badges</small></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>name</th>
                        <th>description</th>
                    </tr>
                    <tr th:each="b : ${badges}">
                        <td class="col-sm-1">
                            <a th:href="@{/t/{tempo}/m/{mode}/badges/{type}(tempo=${tempo},mode=${gameMode.id},type=${b.badgeType})}" th:text="${b.title}"></a>
                        </td>
                        <td class="col-sm-3" th:text="${b.description}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>