<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/page">
<head>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group">
                    <a th:each="g : ${gameModes}"
                       class="btn btn-default"
                       th:classappend="${g.id.equals(gameMode.id) ? 'active' : ''}"
                       th:href="@{/t/{tempo}/m/{mode}/winlist(tempo=${tempo},mode=${g.id})}"
                       th:text="${g.getTitle(tempo)}"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h1><span th:text="${gameMode.getTitle(tempo)}">gameMode</span> <small>badges</small></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th class="col-sm-3">name</th>
                        <th class="col-sm-1 right">score</th>
                        <th class="col-sm-1 right">date</th>
                    </tr>
                    <tr th:each="g : ${winlist}">
                        <td class="col-sm-3" th:text="${g.name}"></td>
                        <td class="col-sm-1 right" th:text="${g.score}"></td>
                        <td class="col-sm-1 right" th:text="${#dates.format(g.timestamp, 'dd MMM yyyy')}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>